mixin tapa()
    .tapa
        .tapa__heading
            .tapa__heading__date
                span._day 15
                span._month MAR
            .tapa__heading__title
                span Mirá la tapa del
                strong Jueves
        .tapa__cover
            img.img-responsive(src="/images/tapa.jpg")
        .tapa__footer
            span TODOS LOS JUEVES A SOLO $8
            span RECIBILA EN TU CASA
