mixin breadcrumb(current, path)
    ul.breadcrumb
        li
            a(href="/") ENTRELÃNEAS
        if path
            each item in path
                li
                    a(href=item.url) item.name
        li= current
            
